.home-container {
    min-height: 100vh;
    background-color: black;

    .wrapper {
        width: 80%;
        margin: 0 auto;
        color: white;
        position: relative;

        header {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 1.5rem 0;
            position: absolute;
            top: 0;
            width: 100%;

            nav {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;
                }
            }

            .location {
                margin-left: auto;
                display: flex;
                gap: 0.5rem;
                align-items: center;

                img {
                    width: 1rem;
                }
            }
        }

        main {
            width: 100%;
            height: 100vh;
            display: grid;
            place-content: center;

            h1 {
                font-size: 6rem;
            }

            h2 {
                margin-top: -2rem;
                font-size: 2rem;
                color: black;
                text-align: center;
                -webkit-text-stroke-width: 0.05rem;
                -webkit-text-stroke-color: white;
                position: relative;

                .scroll-icon-wrapper {
                    position: absolute;
                    top: 7rem;
                    width: 100%;
                    transform: scale(0.4);
                    -webkit-transform: scale(0.4);
                    -moz-transform: scale(0.4);
                    -ms-transform: scale(0.4);
                    -o-transform: scale(0.4);
                }
            }
        }

        section {
            padding: 2.5rem 0;
        }

        .personal {
            display: flex;
            gap: 5rem;

            .my-image-container {
                position: relative;

                .line {
                    width: 10rem;
                    height: 1rem;
                    background-color: rgb(0, 0, 0);
                    position: absolute;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -ms-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                }

                .line1 {
                    top: 2.5rem;
                    left: -2.5rem;
                }
                .line2 {
                    height: 8rem;
                    top: -5rem;
                    left: -5.5rem;
                }
                .line3 {
                    height: 8rem;
                    bottom: -5rem;
                    right: -5.5rem;
                }
                .line4 {
                    bottom: 2.5rem;
                    right: -2.5rem;
                }

                .my-image {
                    width: 75rem;
                    height: 100%;
                }
            }

            .side-info {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                justify-content: center;

                p {
                    font-size: 1.35rem;
                    font-weight: 300;
                }

                .social {
                    ul {
                        margin-top: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        a {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }
                    }

                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

        .skills {
            margin-top: 5rem;
        }

        .work {
            margin-top: 5rem;

            h2 {
                line-height: 5rem;
                margin-bottom: 3rem;
            }
        }

        .contact {
            margin-top: 5rem;
            h2 {
                line-height: 5rem;
                margin-bottom: 3rem;
            }

            .contact-link {
                text-align: center;
                font-size: 1.7rem;
                font-weight: bolder;
                padding: 2rem;
            }

            .contact-link + .contact-link {
                border-top: 1px solid rgb(28, 28, 28);
            }
        }
    }

    footer {
        background-color: rgb(12, 12, 12);

        .footer-main {
            width: 80%;
            margin: 0 auto;
            color: white;
            padding: 2rem;
        }
    }
}
