@import "../shared/theme.scss";

.work-container {
    min-height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
    color: white;

    .workmain-container {
        main {
            width: 80%;
            margin: 8rem auto 0;

            @media screen and (max-width: 768px) {
                width: 90%;
            }

            .part-1 {
                display: flex;
                justify-content: center;

                .part-1-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 60ch;
                    width: 100%;

                    h1 {
                        font-size: 4rem;
                        line-height: 4rem;
                        text-transform: uppercase;
                        text-align: center;
                        margin-bottom: 1rem;

                        @media screen and (max-width: 500px) {
                            font-size: 15vw;
                            line-height: 15vw;
                        }
                    }

                    .bg-img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        background-size: cover;
                        transition: all 0.2s ease-out;
                        -webkit-transition: all 0.2s ease-out;
                        -moz-transition: all 0.2s ease-out;
                        -ms-transition: all 0.2s ease-out;
                        -o-transition: all 0.2s ease-out;
                    }

                    .meta-info {
                        margin: 1rem 0;
                        display: flex;
                        width: 100%;

                        .field:last-child {
                            margin-left: auto;
                        }

                        .field {
                            .label {
                                font-size: 0.8rem;
                            }

                            .value {
                                font-size: 1.2rem;
                                font-weight: bold;
                            }
                        }
                    }

                    .project-desc {
                        margin: 4rem 0 2rem;

                        p {
                            font-size: 1.3rem;
                        }

                        p + p {
                            margin-top: 1rem;
                        }
                    }
                }
            }

            .part-2 {
                margin-top: 5rem;

                h1 {
                    font-size: 4rem;
                    text-align: center;
                    margin: 3rem 0 2rem;
                }

                img + img {
                    margin-top: 3rem;
                }
            }
        }
    }
}
