.staggered-images-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;

    .img {
        position: absolute;
        transition-timing-function: ease-out;
    }

    .img1 {
        transition-duration: 2400ms;
    }

    .img2 {
        transition-duration: 2000ms;
    }

    .img3 {
        transition-duration: 1600ms;
    }

    .img4 {
        transition-duration: 1200ms;
    }

    .img5 {
        transition-duration: 800ms;
    }

    .img6 {
        transition-duration: 400ms;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}
