@import './shared/theme.scss';

header {
    position: absolute;
    top: 0;
    width: 100%;

    .header-main {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 80%;
        padding: 1.5rem 0;
        margin: 0 auto;
        color: white;

        @media screen and (max-width: 490px) {
            width: 90%;
            font-size: 4vw;
        }

        @media screen and (max-width: 375px) {
            width: 90%;
            font-size: 3vw;
        }

        nav {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
            }
        }

        .location {
            margin-left: auto;
            display: flex;
            gap: 0.5rem;
            align-items: center;

            img {
                width: 1rem;
            }
        }
    }
}